table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  table th,table td{
    padding: 10px 0;
    text-align: center;
  }

  thead tr:nth-child(1) {
    background: #8c8c8e
  }
  
  tbody tr:nth-child(odd){
    background-color: #eee
  }

  #name-header {
    color: whitesmoke;
    font-weight: bold;
  }

  #address-header {
    color: whitesmoke;
    font-weight: bold;
  }

  #reload-btn {
    border: 2px solid #8c8c8e;
    margin-bottom: 5px;
    background-color: #8c8c8e;
    color: whitesmoke;
  }

  #reload-btn:hover {
    background-color: whitesmoke;
    border-color: #8c8c8e;
    color: #8c8c8e;
  }

  .detail-btn {
    border: 2px solid #8c8c8e;
    background-color: #8c8c8e;
    color: whitesmoke;
  }

  .detail-btn:hover {
    background-color: whitesmoke;
    border-color: #8c8c8e;
    color: #8c8c8e;
  }